@let filteredRecipes = recipeListStore.recipes();

<div class="category-container">
  @if (recipeListStore.recipesLoading()) {
    <div class="loading">Chargement des recettes...</div>
  } @else if (recipeListStore.hasError()) {
    <div class="error">
      <p>Une erreur s'est produite lors du chargement des recettes.</p>
      <pre>{{ recipeListStore.error() | json }}</pre>
    </div>
  } @else {

    <div class="mb-20">
      <app-content-focus
        [borderColor]="categoryObject()?.color ?? 'lightgrey'"
        [description]="'Voici les recettes de la catégorie ' + (categoryObject()?.name ?? '')"
        [fontSize]="'16px'"
        [textColor]="'#828080'"
      >
    </app-content-focus>
    </div> 
    <recipe-list
      [recipes]="filteredRecipes"
    ></recipe-list>

    <app-paginator
      [paginator]="recipeListStore.paginator()"
      (onNextClicked)="recipeListStore.goToNextPage()"
      (onPrevClicked)="recipeListStore.goToPrevPage()"
    ></app-paginator>
  }
</div>