@use '../../../../css/components/component.border-grid';

.recipe-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: var(--mobile-size);
  height: 141px;
  @extend .border-parent-grid;

  &__image-row {
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    overflow: hidden;
  }

  &__title-row {
    grid-column: 5 / 11;
    grid-row: 1 / 5;
    padding: 10px;
  }

  &__title {
    font-size: 18px;
  }

  &__rating-row {
    grid-column: 5 / 11;
    grid-row: 5 / 7;
  }

  &__link-row {
    grid-column: 11 / 13;
    grid-row: 4 / 7;
  }

  &__favorite-row {
    grid-column: 11 / 13;
    grid-row: 1 / 4;
  }
}

.grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .border-grid;
}

.grid-image {
  aspect-ratio: 4/5;
}
