<!-- <div class="recipe-card" [style.borderColor]="recipe()?.category?.color ?? 'lightgrey'">
  <div
    class="grid-row recipe-card__image-row blurred-image"
    [style.borderColor]="recipe()?.category?.color ?? 'lightgrey'"
  >
    <img
      class="grid-image"
      [src]="getCloudinaryUrl(recipe()?.image || '', 'detail')"
      alt="{{ recipe()?.title }}"
      loading="lazy"
    />
  </div>
  <div
    class="grid-row recipe-card__title-row"
    [style.backgroundColor]="recipe()?.category?.color ?? 'lightgrey'"
    [style.borderColor]="recipe()?.category?.color ?? 'lightgrey'"
  >
    <div class="d-flex flex-direction-column gap-10">
      <div class="font-700 recipe-card__title">
        {{ recipe()?.title }}
      </div>
      @if (recipe()?.tags && (recipe()?.tags?.length ?? 0) > 0) {
        <div class="font-500 d-flex flex-wrap-wrap gap-5">
          @for (tag of recipe()?.tags; track $index) {
            <div class="tag">{{ tag }}</div>
          }
        </div>
      }
    </div>
  </div>
  <div
    class="grid-row recipe-card__rating-row"
    [style.backgroundColor]="getAssociatedCategoryColor('rating')"
    [style.borderColor]="recipe()?.category?.color ?? 'lightgrey'"
  >
    <app-display-star [rating]="recipe()?.rating ?? 0" [fontSize]="'18px'"></app-display-star>
  </div>
  <div
    class="grid-row recipe-card__favorite-row"
    [style.backgroundColor]="getAssociatedCategoryColor('favorite')"
    [style.borderColor]="recipe()?.category?.color ?? 'lightgrey'"
  >
    <app-toggle-favorite
      [iconSize]="'26px'"
      [iconColor]="'#F16767'"
      [(isFavorite)]="isFavorite"
      (onToggle)="onToggleFavorite($event)"
    ></app-toggle-favorite>
  </div>
  <div
    class="grid-row recipe-card__link-row"
    [style.backgroundColor]="getAssociatedCategoryColor('infos')"
    [style.borderColor]="recipe()?.category?.color ?? 'lightgrey'"
  >
    <span
      [color]="'#151515'"
      [height]="'22px'"
      [iconName]="'eye'"
      [width]="'22px'"
      class="d-flex"
      appSvgIcon
    >
    </span>
    <a class="u-global-link" [routerLink]="['/recipe', recipe()?.id]"> </a>
  </div>
</div> -->

<div class="card position-relative">
  <a class="u-global-link" [routerLink]="['/recipe', recipe()?.id]"> </a>
  <div class="card__border">
    <div class="card__media" [style.backgroundColor]="recipe()?.category?.color ?? 'lightgrey'">
      <div class="card__media-content">
        <svg
          width="100%"
          height="100%"
          version="1.1"
          viewBox="0 0 440 440"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <filter id="inner-shadow" x="-.032" y="-.032" width="1.064" height="1.074">
              <feOffset dx="0" dy="3" />
              <feGaussianBlur result="offset-blur" stdDeviation="4" />
              <feComposite in="SourceGraphic" in2="offset-blur" operator="out" result="inverse" />
              <feFlood flood-color="#000000" flood-opacity=".1" result="color" />
              <feComposite in="color" in2="inverse" operator="in" result="shadow" />
              <feComposite in="shadow" in2="SourceGraphic" />
            </filter>
            <linearGradient
              id="rim-gradient"
              x1="30"
              x2="470"
              y1="30"
              y2="470"
              gradientTransform="translate(-30,-30)"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" offset="0" />
              <stop stop-color="#F8F9FA" offset=".5" />
              <stop stop-color="#E9ECEF" offset="1" />
            </linearGradient>
            <radialGradient
              id="well-gradient"
              cx="203.07"
              cy="202.22"
              r="208.45"
              gradientTransform="matrix(.99533 0 0 1.0047 -30 -30)"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#fff" offset="0" />
              <stop stop-color="#F1F3F5" offset=".7" />
              <stop stop-color="#E9ECEF" offset="1" />
            </radialGradient>
          </defs>
          <circle
            cx="220"
            cy="220"
            r="220"
            fill="url(#rim-gradient)"
            style="fill: url(#rim-gradient)"
          />
          <circle cx="220" cy="220" r="219.5" fill="none" opacity=".6" stroke="#e0e0e0" />
          <circle
            cx="220"
            cy="220"
            r="150"
            fill="url(#well-gradient)"
            filter="url(#inner-shadow)"
            style="fill: url(#well-gradient)"
          />
          <circle
            cx="220"
            cy="220"
            r="142"
            fill="none"
            opacity=".7"
            stroke="#e9ecef"
            stroke-width="1.5"
          />
          <path
            d="m40 220a180 180 0 0 1 360 0"
            fill="none"
            opacity=".6"
            stroke="#fff"
            stroke-linecap="round"
            stroke-width="3"
          />
        </svg>

        <div class="card__img-content">
          <img
            class=""
            [src]="getCloudinaryUrl(recipe()?.image || '', 'detail')"
            alt="{{ recipe()?.title }}"
            loading="lazy"
          />
        </div>
      </div>
      <div class="card__favorite">
        <app-toggle-favorite
          [iconSize]="'22px'"
          [iconColor]="recipe()?.category?.color ?? 'lightgrey'"
          [(isFavorite)]="isFavorite"
          (onToggle)="onToggleFavorite($event)"
        ></app-toggle-favorite>
      </div>
    </div>
    <div class="card__infos">
      <div class="font-700 card__title position-relative">
        {{ recipe()?.title }}
        @if (recipe()?.isThermomix) {
          <div class="d-flex align-items-center justify-content-center icon icon--robot">
            <span
              [color]="'#fffef5'"
              [height]="'20px'"
              [iconName]="'thermomix'"
              [width]="'20px'"
              class="d-flex"
              appSvgIcon
            >
            </span>
          </div>
        }
      </div>

      <div class="card__notation d-flex gap-5">
        <app-display-star [rating]="recipe()?.rating ?? 0" [fontSize]="'12px'"></app-display-star>
      </div>
      @if (recipe()?.tags && (recipe()?.tags?.length ?? 0) > 0) {
        <div class="font-500 d-flex flex-wrap-wrap gap-5">
          @for (tag of recipe()?.tags; track $index) {
            <div
              class="tag"
              [style.backgroundColor]="recipe()?.category?.color ?? 'lightgrey'"
              [style.--tag-color]="recipe()?.category?.color ?? 'lightgrey'"
            >
              {{ tag }}
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
