$font-values: 300, 400, 500, 600, 700, 800, 900;
@each $value in $font-values {
  .font-#{$value} {
    font-weight: $value;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

$font-values: 300, 400, 500, 600, 700, 800, 900;
@each $value in $font-values {
  .font-italic-#{$value} {
    font-weight: $value;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
  }
}