@use '../../../css/components/component.border-grid';

$grid-size: var(--mobile-size);
$row-size: 8;
$column-size: 8;
.grid {
  display: grid;
  grid-template-columns:
    repeat($column-size, 1fr);
  grid-template-rows:
    repeat($row-size, 1fr);
  width: $grid-size;
  height: $grid-size;
  @extend .border-parent-grid;
  
  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .border-grid;
  }
  
  &__row--title {
    grid-row:  1 / 3;
    grid-column: 1 / 7;
  
  }

  &__row--favorite {
    grid-row: 1 / 3;
    grid-column: 7/9;
  }
  
  &__row--infos {
    grid-row: 3 / 8;
    grid-column: 4 / 9;
  }
  
 &__row--rating {
    grid-row: 3 / 5;
    grid-column: 1 /4;
  }
  
  &__row--3 {
    grid-row: 5 / 8;
    grid-column: 1 /4;
  }
  
   &__row--4 {
    grid-row: 8 / 9;
    grid-column: 1 / 7;
  }
  
  &__row--toggle {
    grid-row: 8 / 9;
    grid-column: 7 / 9;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.grid-list {
  max-width: $grid-size;
  display: grid;
  grid-template-columns: 42px 1fr;
  width: 100%;

  &__index {
    color: #fff;
    padding: 8px;    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    color: #151515;
    display: inline;
    line-height: 1.5;
  }

  &__quantity {
    color: #A0AEC0;
    display: flex;
    align-items: center;
    font-size: 11px;
  }

  &__content {
    @extend .border-grid;
    padding: 8px;
  }

  &__item {
    padding: 12px 8px;
  }

}

.recipe {
  &__label {
    display: flex;
    color: #151515;
    font-size: 12px;
    padding-inline: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    corner-shape: squircle;
    text-box: trim-both cap text;
  }

  &__title {
    padding: 20px;
    font-size: 24px;
  }
}

.is-robot {
  background-color: #9BD8BC;
}

.is-favorite {
  background-color: #EDC453;
  cursor: pointer;
  justify-content: center;
}
