.border-grid {
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
}

.border-parent-grid {
  border-left-width: 1px;
  border-top-width: 1px;
  border-left-style: solid;
  border-top-style: solid;
}