@let categories = globalStore.categories();
@let lastRecipes = homeStore.lastRecipes();
@let lastRecipesLoading = homeStore.lastRecipesLoading();
@let searchedRecipes = homeStore.searchedRecipes();
@let searchedRecipesLoading = homeStore.searchedRecipesLoading();
@let hasSearchTerm = homeStore.hasSearchTerm();
@let hasSearchResults = homeStore.hasSearchResults();

<div class="d-flex flex-direction-column gap-40">
  <app-search
    (searchTermChange)="onSearchTerm($event)"
  ></app-search>
  <menu-category [categories]="categories"></menu-category>

  @if(authStore.isAuthenticated()) {
    <a [routerLink]="getRoutePath('assistant')" class="assistant-link d-flex gap-20 align-items-center justify-content-space-between cursor-pointer">
      <div class="d-flex flex-direction-column gap-10">
        <h2 class="mb-20 assistant-link__title">Assistant cuisine</h2>
        <span class="assistant-link__subtitle font-italic-300">Crée des recettes avec tes restes !</span>
      </div>
      <div>
        <app-svg assistant-icon ></app-svg>
      </div>
    </a>
  }

  <div class="recipes-content">
    <div class="mb-40">
      <app-content-focus
        [description]="
          hasSearchTerm 
            ? (searchedRecipesLoading ? 'Recherche en cours...' : (!hasSearchResults ? 'Aucune recette trouvée' : 'Résultats de recherche'))
            : 'Les 3 dernières recettes ajoutées'
        "
        [borderColor]="'var(--text-description-color)'"
        [textColor]="'var(--text-description-color)'"
        [fontSize]="'18px'"
      >
      </app-content-focus>
    </div>

    @if(hasSearchTerm) {
      <!-- Mode recherche -->
      @if(searchedRecipesLoading && !hasSearchResults) {
        <app-loader></app-loader>
      } @else if (hasSearchResults) {
        <recipe-list [recipes]="searchedRecipes"></recipe-list>
      }
    } @else {
      <!-- Dernières recettes -->
      @if(lastRecipesLoading) {
        <app-loader></app-loader>
      } @else {
        <recipe-list [recipes]="lastRecipes"></recipe-list>
      }
    }
  </div>
</div>
