@let filteredRecipes = favoritesStore.recipes();
@let favoritesLoading = favoritesStore.favoritesLoading();


<div class="mb-20">
  <app-content-focus
    [borderColor]="'lightgrey'"
    [description]="'Tes recettes préférées sont ici !'"
    [fontSize]="'13px'"
    [textColor]="'#828080'"
  >
  </app-content-focus>
</div> 

@if(authStore.isAuthenticated()) {
  @if(favoritesLoading){
    <app-loader
      [hasAbsolutePosition]="true"
    ></app-loader>
  } @else {
    <recipe-list
      [recipes]="filteredRecipes">
    </recipe-list>
  }
  
} @else {
  <div>get connected to see your favorites</div>
}
