.search {
  width: 100%;
  position: relative;
  display: flex;
}

.search-term {
  width: 100%;
  border: 1px solid #151515;
  border-right: none;
  padding: 5px;
  border-radius: 6px 0 0 6px;
  background-color: var(--primary-color);
  corner-shape: squircle;
  outline: none;
  color: #151515;
  font-size: 13px;
}

.search-term:focus{
  color: #151515;
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid #151515;
  background: var(--action-color);
  border-radius: 0 6px 6px 0;
  corner-shape: squircle;
  cursor: pointer;
}