.disabled {
  opacity: 0.15;
  pointer-events: none;
}

.favorite {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: color-mix(in srgb, var(--favorite-color, lightgrey), #fff 30%);
}
