$color: #151515;

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid $color;
  box-shadow: inset 0 0 0 5px #ffffff;
  border-radius: 0 0 100px 100px;
  position: relative;
  margin: auto;
  background: linear-gradient(0deg, $color, $color) 0px 210px / 100% no-repeat;
  animation: fill-coffee 3s ease-out infinite;
}

.loader:after {
  content: "";
  width: 20px;
  height: 25px;
  position: absolute;
  top: 1px;
  right: -20px;
  border: 5px solid $color;
  border-radius: 0 120px 200px 0;
}

@keyframes fill-coffee {
  100% {
    background-position: 0px 0px;
  }
}

.has-absolute-position {
  position: absolute;
  inset:0;
}